/* src/theme/variables.scss */

:root {
  /* COLOR PRIMARIO: Azul Marino Profundo (Seguridad, Confianza) */
  --ion-color-primary: #0a1f44;
  --ion-color-primary-rgb: 10, 31, 68;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #091b3c;
  --ion-color-primary-tint: #233557;

  /* COLOR SECUNDARIO: Cian Eléctrico (Tecnología, Señal, Wi-Fi) */
  --ion-color-secondary: #00e5ff;
  --ion-color-secondary-rgb: 0, 229, 255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #00cae0;
  --ion-color-secondary-tint: #1ae8ff;

  /* FONDO: Gris muy suave (Limpio) */
  --ion-background-color: #f4f5f8;
  --ion-item-background: #ffffff;

  /* --- CORRECCIÓN DE TEXTO INVISIBLE --- */
  /* Forzamos a que el texto base de la app sea NEGRO siempre */
  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;
}
